#{{ ansible_managed }}
* * * *            Your Banner                          * * * *

* * * *   Notice to All Users (Authorized or Unauthorized)   * * * *

* * * * This system is for the use of authorized users only  * * * *
Your Words
